# Copy this to .streamlit/secrets.toml and fill real keys
TWELVEDATA_API_KEY = "105521da9fe24d7aad2af86082f9e605"
FMP_API_KEY = "BK1yrlwn002dxQuub53mMSWKzvCImcuh"
TELEGRAM_BOT_TOKEN = "7523786733:AAFvL_2ZUxuX8nUFAmgsBtVE7Qh_UcKeEJM"
TELEGRAM_CHAT_ID = "1559810743"
CRYPTOCOMPARE_API = "e8568d57862810cf97ccc1d39ce00fbc4720a3294f42aead3c167c3b5c8b62fd" 
